* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
  height: 80px;
  background-color:rgb(206, 196, 245);
  text-transform:uppercase;
}

main {
  background-color: rgb(249, 219, 226);
  padding-top: 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-left: 5px;
  border-radius: 5px;
  background-color: rgb(206, 196, 245);

  
}

.text-center{
  text-align: center;
}

.card {
    background-color: rgb(48, 44, 57);
    border-radius: 10px;
    color: white;
    
    margin-bottom: 10px;
}

.mb-30{
  margin-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content:center;
  align-items: center;
}


.btn {
  background-color:rgb(97, 213, 186);
  border:rgb(32, 123, 243);
  text-transform: uppercase;

  padding: 10px 20px;
  border-radius: 5px;
}


.gap{
  gap: 10px;
  padding-right: 20px;
}