* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

img {
    max-width: 100%;
}

header {
  height: 80px;
  background-color:rgb(206, 196, 245);
  text-transform:uppercase;
  padding: 30px;
}

main {
  background-color: rgb(249, 219, 226);
  padding-top: 20px;
  padding-bottom: 40px;
  
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-left: 5px;
  border-radius: 5px;
  background-color: rgb(212, 204, 244);
  padding: 30px;

}

.text-center{
  text-align: center;
}

.card {
    background-color: rgb(98, 93, 112);
    border-radius: 10px;
    color: white;
    text-align: center;

}

.col {
  width: calc(100% / 2 - (10px * 1) / 2);
  padding: 10px;
  align-content: end;

}

.mb-30{
  margin-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
   gap: 10px;
}

.flex-between {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

.card-img {
  max-width: 100px;
}


.gap{
  gap: 10px;
  padding-right: 20px;
}

header li {
  list-style: none;
}

/* responsive mobile first */
/* tablet */
@media (min-width: 768px) {
    
    .col {
        width: calc(100% / 4 - (10px * 3) / 4);
    }

    .card-img {
        height: 150px; 
    }
}

/* Desktop */
@media (min-width: 1200px) {
  
    .col {
        width: calc(100% / 6 - (10px * 5) / 6)
    }

    .card-img {
        height: 180px; 
    }
}